.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 900px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8a7767;
}

.confirm-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.confirm-table__header {
    width: 25%;
    padding: 15px;
    background-color: #c2b3a3;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #8a7767;
    vertical-align: middle;
}

.confirm-table__text input,
.confirm-table__text textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-size: 15px;
    line-height: 1.6;
    color: #8a7767;
}

.confirm-textarea {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #5a4c43;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form__button-back {
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}